<div>
    <h2 id="page-heading">
        <span>Dialplan Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dialplan-entry" [routerLink]="['/dialplan-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Dialplan Entry
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dialplanEntries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>From Peer Match Type</span></th>
            <th><span>From Peer Match Exp</span></th>
            <th><span>Destination</span></th>
            <th><span>New Destination</span></th>
            <th><span>Source</span></th>
            <th><span>New Source</span></th>
            <th><span>From Peer</span></th>
            <th><span>To Peer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dialplanEntry of dialplanEntries ;trackBy: trackId">
                <td><a [routerLink]="['/dialplan-entry', dialplanEntry.id, 'view' ]">{{dialplanEntry.id}}</a></td>
                <td>{{dialplanEntry.fromPeerMatchType}}</td>
                <td>{{dialplanEntry.fromPeerMatchExp}}</td>
                <td>{{dialplanEntry.destination}}</td>
                <td>{{dialplanEntry.newDestination}}</td>
                <td>{{dialplanEntry.source}}</td>
                <td>{{dialplanEntry.newSource}}</td>
                <td>
                    <div *ngIf="dialplanEntry.fromPeer">
                        <a [routerLink]="['../peer', dialplanEntry.fromPeer?.id, 'view' ]" >{{dialplanEntry.fromPeer?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dialplanEntry.toPeer">
                        <a [routerLink]="['../peer', dialplanEntry.toPeer?.id, 'view' ]" >{{dialplanEntry.toPeer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dialplan-entry', dialplanEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dialplan-entry', dialplanEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dialplan-entry/'+ dialplanEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
